<!DOCTYPE html>
<html lang="en">
<head>
	<title>Squirrel Chat</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/table/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/table/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/table/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/table/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/table/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/table/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/table/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/table/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/table/css/table.css">
	<link rel="stylesheet" type="text/css" href="../static/channel/css/channel.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">

				<div class="table100 ver2 m-b-110">
					<table data-vertable="ver2">
						<thead>
							<tr class="row100 head">
								<th class="column100 column1" data-column="column1">Chat Window #{{channel_name}}</th>
								<th class="column100 column1" data-column="column2">File Window</th>
							</tr>
						</thead>

						<tbody id="table_body">
							<tr class="row100">
								<td class="column100 column1" data-column="column1">
									<div class="chat_window">
										<div class="top_menu">
											<div class="title">channel: #{{channel_name}} @user: {{user}}</div>
										</div>
										<ul class="messages"></ul>
									</td>
									<td> 
										
									</td>
								</tr>

								<tr class="row100">
									<td class="column100 column1" data-column="column1"> 
									<div class="bottom_wrapper clearfix">
											<div class="message_input_wrapper">
												<input class="message_input" /></div>
												<div class="send_message">
													<div class="icon"></div>
													<div class="text">Send</div>
												</div>
											</div>
										</div>
										</td>
									<td class="column100 column2" data-column="column2">
									<button>Upload</button> 
									<button>Another</button>
									<button>Third</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="message_template">
          <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper"><div class="text">
                Hi there!!</div></div>
          </li>
      </div>
		</div>
		<!--===============================================================================================-->
		<script src="../static/table/vendor/jquery/jquery-3.2.1.min.js"></script><!--===============================================================================================-->
		<script src="../static/table/vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="../static/table/vendor/bootstrap/js/popper.js"></script>
		<script src="../static/table/vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="../static/table/vendor/select2/select2.min.js"></script>
		<!--===============================================================================================-->
		<script src="../static/channel/js/channel.js"></script>

	</body>
	</html>
